# Dependencies
node_modules/

# Environment files
.env
.env.local

# Uploaded files
server/uploads/

# Logs
*.log

# System files
.DS_Store

# Editor files
.vscode/
.idea/

# Frontend build
client/dist/
client/build/